
 .navbar {
     border-bottom: solid 1px grey
 }
 
 
 .navbar-brand {
     font-size: 1.5rem
 }


 .banner-container {
padding-top: 10rem;
  padding-bottom: calc(10rem - 72px);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(92, 77, 66, 0.9)), to(rgba(92, 77, 66, 0.4))), url("/img/map.png");
  background: linear-gradient(to bottom, rgba(92, 77, 66, 0.4) 0%, rgba(92, 77, 66, 0.9) 100%), url("/img/map.png");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}


